{{#site-header session=session}}{{/site-header}}

<style>
#devmode {
  position:fixed;
  bottom:0;
  left:0;
  border-top-right-radius:8px;
  background-color:red;
  color:white;
  padding:.5em;
  z-index: 999;
}
</style>
<div id="devmode"><strong>WARNING</strong>: This site is running in development mode.</div>

<div class="watermarked">
  {{outlet}}
</div>


{{#site-footer}}{{/site-footer}}
