<h1>App: {{appName}}</h1>

{{#site-header fullName=fullName}}{{/site-header}}

<h2 id="title">Application</h2>

<div>
    {{link-to 'Home' 'index'}}
    {{link-to 'Settings' 'settings'}}
</div>

{{outlet}}

{{#site-footer}}{{/site-footer}}