<h2 class="page-header">Profile Information</h2>

<div id="userProfile">
    {{#tab-nav}}
      <!-- TODO: link-to shouldn't be used here. It belongs in teh -->
      <!-- tab-nav-link component instead. Figure out how to pass down -->
      <!-- props to link-to -->
      {{#tab-nav-link}} {{link-to 'Name' 'settings.profile.names'}} {{/tab-nav-link}}
    {{/tab-nav}}
</div>

{{outlet}}
