<h2>Profile</h2>

<form {{action "save" on="submit"}}>
    {{#profile-name-form fullName=fullName}}{{/profile-name-form}}
    <hr />
    {{#profile-citation-preview}}{{/profile-citation-preview}}
    <hr />
    <button type="button" {{action "cancel"}}>Cancel</button>
    <button type="submit">Save</button>
</form>

<div>debug: {{fullName}}</div>

{{outlet}}
