<div class="container">
<h2 class="page-header">Settings</h2>

<div class="row">
  <div class="col-sm-3 affix-parent">
    {{#nav-pills links=model.links thing="word"}}
    {{/nav-pills}}
  </div>

  <div class="col-sm-9 col-md-7">
    {{outlet}}
  </div>

</div>
</div>
